## {{groupName}}

{{#each group}}
### {{title}}
{{#if content.citeOclSpecificaton}}{{{content.citeOclSpecificaton}}}{{/if}}

{{#if content.oclExample}}
```
{{{content.oclExample}}}
```
{{/if}}

{{#if content.description}}{{content.description}}{{/if}}
<div class="clearboth"></div>
{{/each}}